*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bg-light{
    background: linear-gradient(to bottom, #024cdf 0%, #5dbcfb 114%);
    height:70px;
}
.btn1{
    background-color: white;
    color:#003399;
    width:100px;
    border-radius: 20px;
    border-color: transparent;
    padding:3px;
}
.btn1:hover{
    background: linear-gradient(to bottom, #024cdf 0%, #5dbcfb 114%);
    color:white;
    border-color: transparent;
}
.btn2{
    background: linear-gradient(to bottom, #024cdf 0%, #5dbcfb 114%);
    background-color: #024cdf;
    color:white;
    width:60px;
    border-radius: 20px;
    border-color: transparent;
    padding:7px;
    margin:10px;
}
.btn2:hover{
    background-color: #5dbcfb;
    color:white;
    border-color: transparent;
}
.btn3{
    background-color: white;
    color:#003399;
    width:100px;
    border-radius: 20px;
    border-color: #003399;
    padding:5px;
    margin-top: 20px;
}
.btn3:hover{
    background: linear-gradient(to bottom, #003399 0%, #0099ff 114%);
    color:white;
    border-color: transparent;
}
.card-header{
    background: linear-gradient(to bottom, #e6eeff 80%, #e6f5ff 100%);
}

.post-title{
    font-family: 'Nunito';
    font-size: 24px;
    color: rgb(47, 51, 58);
}

.post-description{
    font-family: 'Nunito';
    font-size: 16px;
}
.btn4{
    background: linear-gradient(to bottom, #024cdf 0%, #5dbcfb 114%);
    background-color: #024cdf;
    color:white;
    width:100px;
    border-radius: 20px;
    border-color: transparent;
    padding:3px;
}
.btn4:hover{
    background-color: #5dbcfb;
    color:white;
    border-color: transparent;
}
@media screen and (max-width:400px){
    .nav-link{
        font-size: 12px;
    }
    .btn1{
        width:70px;
        font-size: 10px;
    }
    .navbar-brand{
        font-size: 18px;
    }
    .bg-light{
        height:60px;
    }
}
@media  screen and (max-width:576px) {
    .modal{
        margin-left: 10px;
        font-size: 12px;
    }
    .btn2{
        padding:3px;

    }
    .btn3{
        padding:3px;

    }
    .form-control{
        font-size: 12px;
    }
    .btn4{
        font-size: 12px;
    }
    
}