*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bg-light{
    background: linear-gradient(to bottom, #024cdf 0%, #5dbcfb 114%);
    height:70px;
}


.actualcontainer{
    font-family: 'Nunito';
    font-size: 16px;
  
}

.pdf{
    font-size : 12px;
}
.col-lg-4{
    border-radius:8px;
    margin-top: 10px;
    
}
.card-body{
    box-shadow: 3px 3px 10px rgba(34, 31, 37, 0.2);
   
}
.card{
    border-color: transparent;
    margin-top: 10px;
}
@media screen and (max-width:568px) {
    .bg-light{
        height:60px;
    }
    .nav-link{
        font-size: 12px;
    }
    .card-title{
        font-size: 14px;
    }
    .card-body{
        font-size: 12px;
    }
    .btn{
        font-size: 10px;
    }
    .card{
        margin-top:0px;
    }
}